body{
    font-family: Arial, sans-serif;
    background-color: #fee8fe;
    margin: 20px;
    padding: 20px;
}
h2{
    color: black;
}
a{
    color:#711671;
    text-decoration: none;
}
a:hover{
    color:#9d209d;
    text-decoration: underline;
}
.section{
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


    .banner {
        background: url('interlinked_logo.png') no-repeat center center/cover;
        color: #fff;
        padding: 100px 40px;
        text-align: center;
    }
    
    .banner-content h1 {
        font-size: 3rem;
        margin: 0;
    }
    
    .banner-content p {
        font-size: 1.5rem;
        margin: 10px 0 20px;
    }
    
    .banner-cta {
        display: flex;
        justify-content: center;
        gap: 15px; /* Space between buttons */
    }